<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contents List</title>
</head>

<body>

<h1>Contents List</h1>
<form method="get" action="/contents">
    <input type="text" name="title" placeholder="Title">
    <input type="number" name="publicationYear" placeholder="Publication Year">
    <button type="submit">Filter</button>
</form>

<h2>All Contents</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Publication Year</th>
    </tr>
    <tr th:each="content : ${contents}">
        <td th:text="${content.title}"></td>
        <td th:text="${content.publicationYear}"></td>
    </tr>
</table>

</body>
</html>
